body,html {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.div-sign-out-title{
  font-size: 23pt;
  font-weight: thin;
}
.row.justify-content-md-center.row-sign-out-title{
  padding-top: 1% !important;
  padding-bottom: 3% !important;
}
.navbar.navbar-light.sticky-top.bg-light.justify-content-center.nav-station-logo{
  padding: 0em;
}
.page-elements-right-margin{
  margin-right: 10px;
}
