#fld-search{
  margin-bottom: 0px;
  width: 25vw;
}
.lbl-basket-counter{
  font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}
#store-items-list .list-group-item{
  padding: 0.25rem 1.25rem;
}
